/* Custom font */
@font-face {
  font-family: 'lights';
  src: url('./fuzzy-xmas-lights-font/FuzzyXmasLights-1D9v.ttf');
}

@font-face {
  font-family: 'Libre Caslon Text';
  src: url('./LibreCaslonText-Regular.ttf');
}

body {
  background-color: #386641;
}

p {
  font-size: 2.5rem;
  color: #f2e8cf;
  line-height: 3rem;
  text-align: left;
}

h1 {
  font-size: 3rem;
  color: #f2e8cf;
  line-height: 1.6;
  text-align: center;
}

h2 {
  color: white;
  font-size: 5rem;
  width: 100%;
  text-align: center;
}

* {
  font-family: 'Libre Caslon Text';
}


#address-text {
  text-align: center;
}

/* Styles for the map link */
#address-text a {
  color: inherit; /* Inherits the color from the h1 */
}
  
#address-text a:hover {
  text-decoration: underline; /* Adds underline on hover */
  cursor: pointer;
}

#logo {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
}

/* Main content wrapper */
.main-content {
  width: 90%;
  margin: 0 auto;
}

/* Centered text class */

.carousel-container {
  position: relative;
  height: 75rem;
  overflow: hidden;
}

/* Carousel */
.carousel {
  display: flex;
  height: 30rem;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%; /* Each slide takes up 100% of visible container */
  flex-shrink: 0; /* Prevent slides from shrinking */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393c28;
  padding: 10px;
  box-sizing: border-box;
}

.carousel img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

/* Carousel Controls (Next/Prev buttons) */
.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 14rem; /* Center in the carousel area */
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

.carousel-btn {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  font-size: 2.3rem;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.indicator.active {
  background: white;
}

#into {
  padding: 50%;
  text-align: left;
}

.carouselText {
  width: 100%;
  position: absolute;
  left: 0;
  height: fit-content;
}

#what-you-can-get {
  float: left;
  
}

#shop-info {
  float: right;
}

.carousel-row {
  display: flex;
  gap: 14rem;
  justify-content: center;
  position: relative;
}

#address-image {
  padding-left: 15%;
  width: 70%;
  height: auto;
}

  .carousel-row {
    gap: 200px;
  }
  
  .carousel img {
    max-height: 60%;
    max-width: 60%;
  }

  .carousel-controls {
    top: 225px;
  }

  .carousel-btn {
    height: 50px;
    width: 50px;
    font-size: 60px;
  }

  .carousel-container
  {
    height: 1000px;
  }

@media (max-width: 1776px) {
    .carousel-container
    {
      height: 70rem;
    }
}

@media (max-width: 1457px) {
    p {
      font-size: 2rem;
    }
}

@media (max-width: 1214px) {
  p {
    font-size: 1.5rem;
  }
}



  /* .carousel-controls
  {
    top: 175px;
    padding-left: 10px;
    padding-right: 10px;
  } */

    /* .carousel {
    height: 400px;
    width: 400px;
  }

  .carousel img {
    max-height: 60%;
    max-width: 60%;
  } */
/* 
  p {
    font-size: 30px;
  } */


/*  @media (max-width: 1282px) {
  /* .carousel-container
  {
    height: 1050px;
  } */

 /* #what-you-can-get {
    font-size: 29.9px;
  }
}

@media (max-width: 1277px) {

  #what-you-can-get {
    font-size: 30px;
  }

  .carousel-container
  {
    height: 1100px;
  }
}

@media (max-width: 1091px) {
  .carousel-controls
  {
    padding-left: 5px;
    padding-right: 5px;
  }

  .carousel-btn {
    height: 35px;
    width: 35px;
    font-size: 40px;
  }
}
  */

@media (max-width: 1024px) {
  .carousel-row {
    flex-direction: column;
    align-items: center;
 }

  .carousel-container {
  max-width: 50rem;
  }

  p {
    font-size: 2rem;
    }

  .left {
    height: 50rem;
  }
  .right {
    height: 50rem;
  }
}

@media (max-width: 877px) {
  /* .carousel-row {
    flex-direction: column;
    align-items: center;
 }

  .carousel-container {
  max-width: 50rem;
  } */

  p {
    font-size: 1.5rem;
    }

  h2 {
    text-align: left;
    font-size: 4rem;
  }

  /* .left {
    height: 48rem;
  } */

  /* .right {
    height: 50rem;
  } */
}

@media (max-width: 663px) {
  .left {
    height: 65rem;
  }

  h2 {
    font-size: 3rem;
  }
}

/*
@media (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 50px;
    text-align: left;
  }
}

@media (max-width: 570px) {
  p {
    font-size: 20px;
  }

  #what-you-can-get {
    font-size: 20px;
  }

  #shop-info {
    font-size: 20px;
  }

  .left
  {
    height: 660px;
  }

  .right {
    height: 580px;
  }
}

@media (max-width: 570px) {
  p {
    font-size: 15px;
  }

  #what-you-can-get {
    font-size: 15px;
  }

  #shop-info {
    font-size: 15px;
  }

  h2 {
    font-size: 30px;
  }
}*/ */


.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;pointer-events:none;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}